@import url('https://fonts.googleapis.com/css?family=Dosis|Open+Sans&display=swap');
@import url("https://cdnjs.cloudflare.com/ajax/libs/normalize/4.2.0/normalize.min.css");

* {
  font-family: 'Open Sans', sans-serif;
}

h1 {
  color: tomato;
}

body {
  background: #FAF7FD;
  color: black;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  margin: 70px 0;
}

.chatbar {
  -webkit-box-shadow: 0px -1px 8px -1px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px -1px 8px -1px rgba(0, 0, 0, 0.75);
  box-shadow: 0px -1px 8px -1px rgba(0, 0, 0, 0.75);
  background: #8A2BE2;
  bottom: 0;
  display: flex;
  left: 0;
  padding: 5px;
  position: fixed;
  right: 0;
}

.chatbar-message,
.chatbar-username {
  border-radius: 5px;
  color: #8A2BE2;
  display: block;
  height: 40px;
  line-height: 40px;
  margin: 5px;
  padding: 0 9px;
}

.chatbar-message {
  flex: 8;
}

.chatbar-username {
  flex: 2;
}

.message {
  display: flex;
  padding: 5px;
  border-bottom: 1px solid #F1F0F2;
}

.message.system {
  font-style: italic;
  padding: 5px 20px;
}

.message-content,
.message-username {
  overflow: hidden;
  margin: 5px;
  padding: 0 10px;
}

.message-content {
  flex: 8;
  word-break: break-all
}

.message-username {
  flex: 2;
  font-weight: 700;
}

.navbar {
  -webkit-box-shadow: 0px 3px 8px -1px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 3px 8px -1px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 3px 8px -1px rgba(0, 0, 0, 0.75);
  color: white;
  background: #8A2BE2;
  height: 60px;
  left: 0;
  padding: 0 10px;
  position: fixed;
  right: 0;
  top: 0;
  display: flex;
  justify-content: space-between;
}

.navbar-brand {
  color: inherit;
  display: block;
  float: left;
  font-weight: 700;
  font-size: 28px;
  height: 60px;
  line-height: 60px;
  padding: 0 10px;
  text-decoration: none;
}

.usercount {
  font-size: 1.5em;
  align-self: center;
}

img {
  width: 60%
}

.colorpicker {
  position: fixed;
}

.messages>div:first-of-type {
  padding-top: 40px
}